PORT=5000

DB_USER=sa
DB_PASSWORD=12345
DB_SERVER=127.0.0.1
DB_PORT=1433
DB_INSTANCE=
DB_NAME=PCComponentStore

JWT_SECRET=SieuCapMatKhau
JJWT_EXPIRES_IN=1d

BCRYPT_SALT_ROUNDS=10


CLOUDINARY_CLOUD_NAME=dbdnvpfw8
CLOUDINARY_API_KEY=341774661413136
CLOUDINARY_API_SECRET=BZL1spL55JRafeoap_xafn9rJQo

GROQ_API_KEY=your_groq_api_key_here
USE_MOCK_AI=false

VIETQR_ACCOUNT_NO=9931330034
VIETQR_BANK_NAME=VCB
VIETQR_ACCOUNT_NAME=TRAN ANH TU
VIETQR_ACQ_ID=970436
VIETQR_TEMPLATE=compact
VIETQR_TEMPLATE_ID=kXcqiTq
VIETQR_QUICK_LINK=https://api.vietqr.io/image/970436-9931330034-kXcqiTq.jpg?accountName=TRAN%20ANH%20TU&amount={orderTotal}&addInfo=ORDER{orderId}
